.cache
other
main
*.o
zmq-server/student_file1.txt
zmq-server/student_file2.txt
zmq-client/.qt
zmq-client/CMakeCache.txt
zmq-client/CMakeFiles
zmq-client/CMakeLists.txt.user
zmq-client/Makefile
zmq-client/build
zmq-client/client
zmq-client/cmake_install.cmake
zmq-client/not_CMakeCache.txt
zmq-client/not_CMakeFiles
zmq-client/not_CMakeLists.txt.user
zmq-client/not_Makefile
zmq-client/not_build
zmq-client/not_cmake_install.not_cmake_not
zmq-client/not_zmq-client_autogen
zmq-client/zmq-client
zmq-client/zmq-client_autogen
zmq-client/compile_commands.json
